<!--<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-books></app-books>
</body>
</html>-->


<p>
  <mat-toolbar color="primary">
    <span>BookCollection</span>
  </mat-toolbar>
</p>

<div class="container">
  <h1>Please, enter your credentials</h1>


  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>

    <button mat-raised-button color="primary">Log In</button>
  </form>

</div>