<div class="container">
  <div class="row">
    <div class="child">
      <div class="card">
        <div class="card-content">
          <form #bookForm="ngForm" (ngSubmit)="addBook(bookForm)">
            <div class="row">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="bookService.selectedBook._id">
              <div class="input-field col s12">
                <input type="text" name="title" #title="ngModel" [(ngModel)]="bookService.selectedBook.title" placeholder="Enter Book Title">
              </div>
              <div class="input-field col s12">
                <input type="text" name="author" #author="ngModel" [(ngModel)]="bookService.selectedBook.author" placeholder="Enter Book Author">
              </div>
              <div class="input-field col s12">
                <input type="text" name="year" #year="ngModel" [(ngModel)]="bookService.selectedBook.year" placeholder="Enter Book Year">
              </div>
              <div class="card-action">
                <div class="input-field col s12">
                  <button mat-raised-button color="primary" style="margin-top: 5px;">Save</button>
                  <button mat-raised-button color="primary" style="margin-left: 2px" (click)="cleanForm(bookForm)">Clean</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="child">
      <table class="content-table">
        <thead>
          <th>Title</th>
          <th>Author</th>
          <th>Year</th>
          <th></th>
          <th></th>          
        </thead>
        <tbody>
          <tr *ngFor="let book of bookService.books">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.year}}</td>
            <td>
              <a (click)="editBook(book)">
                <img src="../../../assets/edit.png">
              </a>
            </td>

            <td>
              <a class="delete" (click)="deleteBook(book)">
                <img src='../../../assets/delete.png'>
              </a> 
            </td>
          </tr>
        </tbody>
      </table> 
    </div>
  </div>
</div>